.login-main-wrapper {
    background: #ff2f33;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff2f33 0%, #ff6f6d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff2f33 0%, #ff6f6d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff2f33 0%, #ff6f6d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff516b', endColorstr='#826cfd', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh - 0rem);
}

.full-height {
    height: 100vh;
    height: -webkit-calc(100vh - 0rem);
}

.login-main-left {
    margin: auto;
    max-width: 335px;
}

.login-main-right.bg-white {
    border-radius: 2px;
    margin: auto;
    max-width: 561px;
}

.carousel-login-card h5 {
    font-size: 18px;
}

.login-main-right .owl-carousel .owl-dots {
    text-align: center;
}

.login-main-right .owl-carousel .owl-dots .owl-dot {
    background: #dcdcdc;
    border-radius: 50px;
    height: 16px;
    margin: 0 2px;
    opacity: unset;
    width: 16px;
}

.login-main-right .owl-carousel .owl-dots .owl-dot.active,
.login-main-right .owl-carousel .owl-dots .owl-dot:hover {
    background: #ff2f33;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff2f33 0%, #e41e1d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff2f33 0%, #e41e1d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff2f33 0%, #e41e1d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#e41e1d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
