.single-channel-image {
    position: relative;
}

.single-channel-nav .navbar {
    padding: 0;
}

.single-channel-nav {
    background: #232323 none repeat scroll 0 0 !important;
    padding: 0 30px 0;
}

.channel-brand {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.single-channel-nav .nav-link {
    border-bottom: 2px solid transparent;
    margin: 0 12px;
    padding: 14px 0 !important;
}

.single-channel-nav .nav-item.active .nav-link, .single-channel-nav .nav-item .nav-link:hover {
    border-color: #ff2f33;
    color: #ff2f33 !important;
}

.single-channel-nav .navbar-nav {
    margin: 0 0 0 40px;
}

.channel-profile {
    bottom: 0;
    left: 0;
    padding: 1rem 30px;
    position: absolute;
    right: 0;
}

.single-channel-image .img-fluid {
    width: 100%;
}

.channel-profile-img {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.social {
    color: #fff;
    float: right;
    margin: 62px 0 0;
}

.social a {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
}
