.box {
    padding: 10px;
    background: #1c1c1c none repeat scroll 0 0;
    border-radius: 2px;
    transition-duration: 0.4s;
}

.single-video-title h2 {
    font-size: 18px;
}

.single-video-title h2 a {
    color: #fff;
}

.single-video-author img {
    border-radius: 50px;
    float: left;
    height: 38px;
    width: 38px;
}

.single-video-author p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.single-video-info-content h6 {
    font-size: 15px;
    font-weight: 600;
}

.tags span a {
    background: #333333 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 4px 9px;
}

.tags span a:hover {
    background: #000 none repeat scroll 0 0;
}

.pull-left {
    float: left;
    color: #2bca92;
}

.pull-right {
    float: right;
    color: #ff5943
}

.media-name {
    margin: 10px 20px 10px 0;
}
