.video-setting-button {
    margin-left: 5px;
}

.video-block .mb-3 {
    margin-bottom: 30px !important;
}

.video-card-image {
    position: relative;
    padding-bottom: 56.2%;
}

.video-card-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-card-image-small img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.time {
    background: #1c1c1c;
    border-radius: 2px;
    bottom: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.5;
    padding: 0 5px;
    position: absolute;
    right: 5px;
}

.play-icon {
    opacity: 0;
    position: absolute;
}

.play-icon .fas {
    bottom: 0;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.video-card-image:hover .play-icon {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 35px;
    opacity: 0.4;
    position: absolute;
    text-align: center;
    transition-duration: 0.2s;
    z-index: 1;
}

.video-title a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.video-title {
    margin-bottom: 5px;
}

.video-page {
    color: #fff;
    font-size: 12px;
}

.video-view {
    color: #acacac;
    font-size: 12px;
    font-weight: 500;
    margin: 2px 0 0;
}

.video-card {
    border-radius: 2px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

.video-card-body {
    padding: 6px;
}

.video-card-list .video-card-image {
    position: relative;
    padding-bottom: 56.2%;
}

.video-card-list .video-card-body {
    padding: 0;
}

.video-card-list {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    display: inline-block;
    margin-bottom: 1rem;
}

.video-card-list .video-card-body .video-title a {
    font-size: 13px;
}

.video-card-list .video-card-body .video-title {
    line-height: 17px;
}

.video-card-list .video-card-body .right-action {
    opacity: 0;
}

.video-card-list:hover .video-card-body .right-action {
    opacity: unset;
}
